# LLM API KEys
OPENAI_API_KEY=YOUR_OPENAI_KEY

# Langchain Settings
export LANGSMITH_TRACING=true
export LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
export LANGCHAIN_API_KEY=YOUR_LANGCHAIN_KEY
export LANGSMITH_API_KEY=YOUR_LANGCHAIN_KEY
export LANGSMITH_PROJECT="YOUR_PROJECT_NAME"

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=YOUR_REDIS_NAME